<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NotifyPersianCalendarProperties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <NotifyPersianCalendarProperties.Settings>
            <setting name="RunDate" serializeAs="String">
                <value />
            </setting>
            <setting name="IsCalculateHijriAdjustmentOnlie" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HijriAdjustment" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CalendarShowType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsDefaultPicturesAlbumPath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PicturesAlbumPath" serializeAs="String">
                <value />
            </setting>
            <setting name="IsTimerOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="IntervalType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsShowPersianCalendar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsShowHijriCalendar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsShowGregorianCalendar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackgroundLocation" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="BackgroundChangeMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BackgroundIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="BackgroundStyle" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="BackgroundGuidName" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="IsDefaultBackgroundDirectory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackgroundDirectory" serializeAs="String">
                <value />
            </setting>
        </NotifyPersianCalendarProperties.Settings>
    </userSettings>
</configuration>